---
title: nrbs
description: 
layout: default
---
    <nav class="navbar navbar-light bg-light fixed-top">
        <button class="navbar-toggler btn-menu" type="button" data-toggle="collapse" data-target="#collapsingNavbar1">
            <i class="btn-menu__bars"></i>
    <span class="btn-menu__text">MENU</span>
        </button>
    
    </nav>
<div class="row justify-content-center align-self-center hero-text">
            <h1>Gain an Edge</h1>
</div>
<main>
    <section class="hero">
            <div class="text-center background-hero">
                <img class="hero-logo" src="{{ 'assets/images/logo.svg' | relative_url }}">   
                <div class="container"></div>
                
                  
                </div>
            </div>
    </section>
    <div class="gilt-background"></div>
    <div class="gilt-edge-anim"></div>
    <div class="sec-slant-top"></div>
    <section class="sec-endeavours">
        <div class="container">
                <div class="row justify-content-center text-center">
                    <div>
                            <h1>in your Business Endeavours</h1>
                    </div>
        </div>
    </section>
    <div class="sec-slant-bot"></div>
    <section class="sec-support">
        <div class="container">
                <div class="row justify-content-center text-center">
                            <h2>We are supporting enterprises in their aspirations to increase effectiveness and intensify growth with reference to both their operating activities as well as investments by applying tailored IT solutions created for specific market sectors.</h2>
</div>
</div>
    </section>
    <div class="sec2-slant-bot"></div>
    <section class="sec-image">
            <div id="sticky-img"></div>
        <div class="container-fluid">
                <div class="justify-content-center text-center cutting-text">
                <h1>When cutting edge is no longer enough ...</h1>
            </div> 
        </div>
        <div class="opacity-overlay"></div>
        <div class="gilt-edge-low"></div>
        <div class="container-fluid">
                <div class="justify-content-center text-center cutting-text2">
                <h1>...different kind of edge is needed</h1>
            </div> 
        </div>
    </section>
    <h1 class="h-approach">Hollistic Approach</h1>
    <div class="gilt-edge-bottom"></div>
    <div class="sec3-slant-top"> <div class="funky-line"></div></div>
    <section class="sec-hollistic">
        <div class="container-fluid text-center">
           
                <div class="row justify-content-around text-center hollistic-text">
                    <div class="col-md-4">
                        <h2>ENVIRONMENT</h2>
                        <p>The main concern in every aspect of our operations is environment protection by minimising consumption and impact of our, as well as our customers, activities on our planet.</p>
                      </div>
                      <div class="col-md-4 col-md-offset-1">
                        <h2>TECHNOLOGY</h2>
                        <p>Our company is constantly updating and extending our offer by introducing bleeding edge IT services, thus pursuing to meet customers’ expectations and needs.</p>
                      </div>
    </section>
    <div class="sec3-slant-bot"></div>
    <section class="sec-business">
        <div class="container-fluid  business-text">
            <div class="row justify-content-center text">
                <div>
                        <h1>Your Business Partner</h1>
                </div>

    </section>
    <div class="sec4-slant-top"></div>
    <section class="sec-footer-info"> <div class="container text-center">
           
        <div class="row justify-content-around text-center footer-text">
            <div class="col-md-6">
                <h2>Some Text</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, quisquam velit. Commodi aspernatur, officiis nam facere a temporibus itaque dicta eligendi, recusandae in sequi laboriosam consequatur voluptatem quae quas. Minus. impact of our, as well as our customers, activities on our planet.</p>
              </div>
              <div class="col-md-6 ">
                <h2>In Two Columns</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, nobis debitis. Minus libero cumque explicabo quae officiis a dolorum non neque beatae, recusandae fugit, nemo quod sunt adipisci consequatur expedita.<p></p></div>
    
            </section>
 
        <div class="footer-copyright p-4">
            <div class="container-fluid copyright-container">
             <div class="copyright-left"><img src="{{ 'assets/images/logo.svg' | relative_url }}"> </div>
                   <div class="copyright-middle">Copyright © 2020 Gilt Edge Trade Sp. z o.o.   <a href="{{ site.baseurl_root }}/{{site.lang}}/privacy-policy/">Privacy Policy</a> <a href="{{ site.baseurl_root }}/{{site.lang}}/privacy-policy/">Terms & Conditions</a> </div>


               
       
      
    </div>
    

  </main>