---
# front matter for jekyll
---
@import 'colors';
@import 'typography';

*{
    box-sizing:border-box;
    font-family: $ff-ss;
    font-weight: $regular;
}

body,html{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.hero-logo{
height:130px;
}

.hero-text{
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: fixed;
    margin: 0;
    z-index: -2;
    h1{
        font-size: 8.875em;
    }
}
.hero{   
    min-width: 100%;
    min-height: 100%;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -5;
    height: 100%;
    margin:0;
    position: fixed;
    top: 0;
}
.gilt-edge-anim{
    height: 900px;
    clip-path: polygon(0 62%, 363% 0%, 100% 101%, 0% 100%);
    background-color: $get-gold;
    margin: 30vh 0 -496px 0;
    position: relative;
    z-index: -3;
}
.gilt-background{
    position: absolute;
    z-index: -3;
    height:1000px;
    width: 100%;
    margin-top: 90vh;
    background-color: $get-gold;
}
.sec-slant-top{
    height: 250px;
    clip-path: polygon(0 62%, 100% 0%, 100% 101%, 0% 101%);
    background-color: #2D2D2D;
}
.sec-endeavours{
    background-color: #2D2D2D;
    color:white;
    h1{
        font-size: 8.875em;
    }
    height: 400px;
 
}
.sec-slant-bot{
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 62%);
    background-color: #2D2D2D;
    height:250px;
}
.sec-support{
    background-color: white;
    margin-top: -250px;
    padding-top: 200px;
}
.sec2-slant-bot{
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 92%);
    background-color: white;
    height:250px;
    position:relative;
    z-index: 3;
}
.sec-image{
      margin-top: -1000px;
    position: relative;
    /* height: 1500px; */
    width: 100%;
    z-index: -1;
}
#sticky-img{
    background-image: url({{ 'assets/images/bkg.png' | relative_url }});
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 15% 30%;
    position: sticky;
    height:1000px;
    margin-bottom: -470px;
    top:0;
    z-index: -2;
}
.opacity-overlay{
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.1);
    height: 1100px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    clip-path: polygon(0 80%, 0% 0%, 100% 0%, 100% 97%);
    margin-top: 700px;
}

.cutting-text{
    position: relative;
    padding: 0px 300px 0 300px;
    margin-top: 600px;
    h1{
    font-size:  8.5em;
    }
}

.cutting-text2{
    padding: 0 350px 0 350px;
    position: relative;
    h1{
    font-size:  8.5em;
    }
}

.gilt-edge-low{
    height: 600px;
    clip-path: polygon(0 32%, 100% 59%, 100% 69%, 0 41%);
    background-color: $get-gold;
    margin-top: -100px;
    position: relative;
    z-index: 1;
}

.gilt-edge-bottom {
    height: 500px;
    clip-path: polygon(0 45%, 100% 10%, 100% 100%, 0% 100%);
    background-color: $get-gold;
    margin: -340px 0 -200px 0;
    position: relative;
    z-index: 3;
    opacity: 70%;
}
.h-approach{
    padding-top: 200px;
    text-align: center;
    font-size: 7em;
    opacity: 100%;
    position: relative;
    z-index: 4;
}
.sec3-slant-top{
    height: 250px;
    clip-path: polygon(0 62%, 100% 0%, 100% 101%, 0% 101%);
    background-color: #2D2D2D;
    position: relative;  
    z-index: 4;  
}
.sec-hollistic{
    background-color: #2D2D2D;
    color:white;
    h1{
        font-size: 8.875em;
    }
    height: 400px;
    position: relative; 
    z-index: 4;
}

.hollistic-text{
    h2{
        color:$get-gold;
        margin-bottom: 1em;
        font-size: 2.8em;
    }
    p{
        font-size: 1.8em;
        padding: 0 10px 0 10px;
    }
}
.funky-line{
    border: 5px solid $get-gold;
    width: 235px;
    text-align:center;
    position: relative;
    margin: 0;
    top: 65%;
    left: 50%;
    transform: translateX(-50%) translateY(-10%);
}
.sec3-slant-bot{
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 62%);
    background-color: #2D2D2D;
    height:250px;
}

.sec-business{
        background-image: url({{ 'assets/images/lights.png' | relative_url }});
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 15% 30%;
        z-index: -2;  
        height: 900px;
        margin-top: -250px;
        margin-bottom: -155px;
}
.business-text{
position: relative;
top: 60%;
left: 50%;
transform: translateX(-50%) translateY(-50%);

h1{
font-size:  8.5em;
color: white;
}
}
.sec4-slant-top{
    height: 250px;
    clip-path: polygon(0 62%, 100% 0%, 100% 101%, 0% 101%);
    background-color: white;
}
.sec-footer-info{
    background-color: white;
    padding: 50px 0 80px 0;
    h2{
        color:$get-gold;
        margin-bottom: 1em;
        font-size: 2.1em;
    }
    p{
        font-size: 1.5em;
        padding: 0 10px 0 10px;
    }
}



.copyright-container{
    width: 100%;
display: flex;
flex-wrap: wrap;
flex-direction: row;
align-items: center;
    color: gray;
    font-size: 24px;
}

.copyright-middle{
    text-align:right;
    width:60%;
    a{
        color: gray;
        text-decoration: none;
        padding: 0 10px;
        &:hover{
            color:gray;
        }
    }
    color: gray;
}

.copyright-left{
    text-align: left;
    width: 30%;
    margin-left: 100px;
}

nav.navbar.bg-light.navbar-light.fixed-top{
    .navbar-toggler{
        color: $get-gray;
        border:none;
    }
    background:none !important;
    z-index: -4;
    padding-top:40px;
}
.navbar {
    background: none;
  }


//burger

.btn-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 28px;
    background-color: transparent;
    color: inherit;
    padding-left: 0;
    padding-right: 0;
    cursor: pointer;
    transition: .3s ease;

    &:focus {
        outline: none;
    }

    &__text {
        margin-left: 20px;
        font-size: 1.925rem;
        font-weight: 700;
        line-height: 1;
    }

    &__bars {
        display: block;
        position: relative;
        width: 25px;
        height: 3px;
        background-color: $get-gray;
        transition: .3s;

        &:before, &:after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $get-gray;
            transition: .3s;
        }

        &:before {
            transform: translate(0, -10px);
        }

        &:after {
            transform: translate(0, 10px);
        }
    }

    .menu-open & {

        .btn-menu__bars {
            background-color: transparent;

            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }
        }
    }
}
