<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8">
        <meta name="description" content="{% t site.description %}"/>
        <meta name="keywords" content="{% t site.keywords %}"/>
        <title>{% t site.name %} - {% t site.tagline %}</title>
        <link rel="stylesheet" type="text/css" href={{ "assets/css/styles.css" | relative_url }}>
        <script type="text/javascript" src="{{ site.baseurl_root }}/assets/js/particles.js" | relative_url }}></script>
        <script type="text/javascript" src="{{ site.baseurl_root }}/assets/js/app.js"}}></script>
        <script src="https://kit.fontawesome.com/5ffb384f6d.js" crossorigin="anonymous"></script>
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
                crossorigin="anonymous">
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <meta name="viewport"
                content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <script>
                $(window).scroll(function(){
  var scrollTop = $(window).scrollTop();
        marginBot = -444 + 110 * (((scrollTop-100) * 100)/200)/100;
  $('.gilt-edge-anim').stop().animate({'margin-bottom': marginBot+"px"}, 0);
})


var btnMenu = document.getElementsByClassName("btn-menu");
var body = document.body
for (var i = 0; i < btnMenu.length; i++) {
    btnMenu[i].addEventListener('click', function () {
        body.classList.toggle('menu-open');
    });
}
        </script>
        <!-- CANONICAL -->
        {% if page.namespace %}
        {% if site.lang == site.defaultLang %}
        <link rel="canonical" href="{{ site.url }}/{{site.defaultLang}}{% tl {{ page.namespace }} {{ site.lang }} %}" />
        {% else %}
        <link rel="canonical" href="{{ site.url }}{% tl {{ page.namespace }} {{ site.lang }} %}" />
        {% endif %}
        {% else %}
        {% if page.url == "/" %}
        <link rel="canonical" href="{{ site.url }}/{{site.lang}}" />
        {% else %}
        <link rel="canonical" href="{{ site.url }}/{{site.lang}}{{page.url}}" />
        {% endif %}
        {% endif %}

</head>

<body>
        
            
        {{ content }}
                